/*********************HOVERS*********************/

h1:hover{
    font-size: 3.5rem;
}
.link__header a:hover{
    font-size:20px ;
}
span:hover{
    font-size:20px ;
}
img{
    clip-path: circle(50%);
    transition-property: clip-path;
    transition-duration: 2s;
    
}
img:hover{
clip-path: circle(150%);
 }
